
/* ########## GENERAL ############# */
/* //////// general styling ////// */
html, body {
    padding: 0;
    margin: 0;
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    font-size: 10px;
    color: #38155C;
    scroll-behavior: smooth;
    text-align: center;
}
.banner {
    position: absolute;
    top: 100px;
    left: 30px;
    right: 30px;
    background-color: rgb(191, 130, 224, 0.75);
    z-index: 3;
}
.dark { color:#9838F5;}
.pale { color: #20F5A7;}
.dark_background { background-color: #d7b7f8; }
.pale_background { background-color: #6ef7c4; }
.filter_dark {
    filter: invert(31%) 
    sepia(57%) saturate(6788%) 
    hue-rotate(262deg) brightness(98%) 
    contrast(95%);
}
.name, .title {display: block;}
.glass {
    opacity: 0.65;
    border-radius: 3px;
}
.glass:hover,:active { opacity: 1; }

.frame {
    border: solid 2px #9838F5;
    border-radius: 20px;
    padding: 15px;
}
.card {
    height: 400px;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #cccccc; 
}
.logo {
    text-align: center;
}
.nav-button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 8rem;
}
.nav-button:hover {
    box-shadow:  10px 10px 10px #cccccc,
                   0 0 0 #ffffff,
                    0 0 0 #cccccc inset,
                    2px 2px 2px #ffffff inset;
}
.nav-button:active {
    box-shadow:  0 0 0 #16af77,
                   0 0 0 #20F5A7,
                    10px 10px 10px #16af77 inset,
                    -10px -10px 10px #20F5A7 inset;
}
footer { color: white;}
h1 {
    font-size: calc(2.5rem + 3vw);
    text-shadow:4px 4px 4px #cccccc;
    margin-bottom: 0;
}
h2 {
    font-size: calc(1rem + 3vw);
    text-shadow: 4px 4px 4px #cccccc;
}
a {
    text-decoration: none;
    color: #38155C;
    font-size: calc(0.3rem + 3vw);
}
.nav-button {font-size: calc(0.3rem + 3vw);}
.icon { 
    width: calc(0.5rem + 3vw); 
    margin: auto 0;
    }
p { 
    padding: 10px;
    text-align: justify;
    font-size: calc(0.3rem + 3vw);
}
.item {max-width: 400px;}
/* ############## general layout ########## */
.full-screen {
    width: 100%;
    height: 100vh;
}
.griddy {
    display: grid;
 }
 .main {
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: 100vh minmax(100vh, auto) auto;
 }
 .griddy-flow {
    grid-template-columns: repeat(auto-fit, 
    minmax(300px, 1fr));
    gap: 10px;
}
.centered {
    display: grid;
    place-items: center;
}
.flexy {
    display: flex;
}

/* ########## MOBILE FIRST ############ */
 
/* /////// INTRO page /////////// */
.vertical {
    flex-direction: column;
    justify-content: space-around;
}
.horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
 .picture {width: 100%;}
 .item {
     width: 100%;
    justify-content: flex-start;}
 
/* /////// CONTENT page /////////// */

.navbar {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    width: fit-content;
}
.content {
    min-height: 100vh;
}
footer {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
}

/* ######### MEDIUM ########## */
@media only screen and (min-width: 550px) {
    /* /////// INTRO page /////////// */
    .picture {width: 60%;}
    .item {width: 40%;}
    h1 {white-space: nowrap;
        transform: translate(-100px, -50px);}
    .title {margin-top: 0;}
    .nav-button {
        font-size: 1.5rem;
    }
   

    /* /////// CONTENT page /////////// */
}

/* ######### LARGE ########### */
@media only screen and (min-width: 900px) {
   /* /////// INTRO page /////////// */
    .nav-button {
        font-size: 2rem;
    }

    /* /////// CONTENT page /////////// */
}