
/* ########## GENERAL ############# */
/* //////// general styling ////// */
html, body {
    padding: 0;
    margin: 0;
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    color: #38155C;
    scroll-behavior: smooth;
}
.dark { color:#9838F5;}
.pale { color: #20F5A7;}
.dark_background { background-color: #d7b7f8; }
.pale_background { background-color: #6ef7c4; }
.filter_dark {
    filter: invert(31%) 
    sepia(57%) saturate(6788%) 
    hue-rotate(262deg) brightness(98%) 
    contrast(95%);
}
.glass {
    opacity: 0.65;
    border-radius: 3px;
}
.glass:hover,:active { opacity: 1; }

.frame {
    border: solid 2px #9838F5;
    border-radius: 20px;
    padding: 15px;
}
.card {
    height: 400px;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #cccccc; 
}
.logo {
    text-align: center;
}
.lateral-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    margin-left: 0;
    width: 7rem;
}
.main {padding-left: 7rem;}
 /* /////// general layout /////////// */
 .griddy {
    padding-left: 10px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 
    minmax(450px, 1fr));
}
.nav-button {
    margin: 5px;
    padding: 10px;
    width: auto;
    border-radius: 10px;
    display: grid;
    place-items: center;
}
.nav-button:hover {
    box-shadow:  10px 10px 10px #cccccc,
                   0 0 0 #ffffff,
                    0 0 0 #cccccc inset,
                    2px 2px 2px #ffffff inset;
}
.nav-button:active {
    box-shadow:  0 0 0 #16af77,
                   0 0 0 #20F5A7,
                    10px 10px 10px #16af77 inset,
                    -10px -10px 10px #20F5A7 inset;
}
footer { color: white;}

.full-screen {  width : 100%;
                height: 100vh;}
.flexy {display: flex;}
.vertical { flex-direction: column;
    justify-content: space-around;}
.centered {align-items: center; }
.betweeny {justify-content: space-between;}

/* ########## MOBILE FIRST ############ */
.col-line { flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;}

h1 {
    font-size: 10rem;
    text-shadow:4px 4px 4px #cccccc;
    text-align: center;
}
h2 {
    font-size: 6rem;
    text-shadow: 4px 4px 4px #cccccc;
    text-align: center;
}
a {
    text-decoration: none;
    color: #38155C;
    font-size: 4rem;
}
.icon { width: 6rem;
        padding: 10px 10px 0 10px;}
p { padding: 10px;
    text-align: justify;
    font-size: 2rem;}
.section {  min-height: 100vh;
            margin-left: 10px;}

/* ######### MEDIUM ########## */
@media only screen and (min-width: 750px) {
    h1 {font-size: 4rem;}
    h2 {font-size: 3rem;}
    a {font-size: 2rem;}
    .icon {width: 4rem;}
    .lateral-nav {width: 5rem;}
    .main {padding-left: 5rem;}
}

/* ######### LARGE ########### */
@media only screen and (min-width: 900px) {
    .col-line {flex-direction: row;}
    .icon {width: 3rem;}
    .col-line { flex-direction: row;
                flex-wrap: wrap;}
    .shrinkable {width: 40rem;}
}